# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ZZU\JavaWeb（选修）\软工1班_201824100323厉璐瑶\软工1班_201824100323厉璐瑶\学生信息管理系统\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
